.card {
    padding: 2rem;
    margin: 2rem auto;
}
.white {
    color: black;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.btn {
    margin: 0.5rem auto;
}

.center {
    font-size: 10rem;
}
.login {
    display: flex;
}