<div>
  <div *ngIf="authState | async as user; else showLogin">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{user.photoURL}}" alt="{{user.photoURL}}" class="circle">
        <h1 class="title"> Hello {{user.displayName}}!</h1>
      </li>
    </ul>
    <button (click)="logout()"><i class="fab fa-google"></i> Salir</button>
    <p>{{ seeEmail }}</p>
    
  </div>
  <ng-template #showLogin>

    <main class="row login">
      <div class="col s12 m8 l6 card">
        <h1 class="center"><i class="fa fa-lock" aria-hidden="true"></i></h1>
        <form (ngSubmit)="login()">
          <input type="text" [(ngModel)]="email" name="email">
          <input type="text" [(ngModel)]="password" name="password">
          <button type="submit" class="btn">Enviar</button>
        </form>
        <div class="container">
          <div class="row buttons">
            <button (click)="loginGoogle()" class="col s10 btn white"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>
            <button (click)="loginFacebook()" class=" col s10 btn blue darken-4"><i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</button>
          </div>
        </div>
      </div>
  </main>

  </ng-template>
</div>
